@import "tailwindcss";

@theme {
  --color-primary-text: #252B42;
  --color-secondary-text: #737373;
  --color-success-color: #2DC071;
  --color-alert-color: #E77C40;
  --color-third-color: #23A6F0;
  --color-money-color: #23856D;
  --color-muted-color: #BDBDBD;
  --color-disabled-color: #8EC2F2;

  --font-montserrat: "Montserrat", sans-serif;
}
